<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body" >
                <h4 class="card-title">Perfil del Medico</h4>
            <h6 class="card-subtitle">{{ medico.nombre }}</h6>
                <form #f="ngForm" class="form p-t-20" ngNativeValidate (ngSubmit)="guardarMedico(f)">
                    <div class="form-group">
                        <label>Nombre del medico</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input [(ngModel)]="medico.nombre" type="text" name="nombre" class="form-control" placeholder="Nombre del medico" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Hospital</label>
                        <select (change)="cambioHospital( $event.target.value )"  [(ngModel)]="medico.hospital" name="hospital" class="form-control" required>
                            <option value="">Seleccione Hospital</option>
                            <option *ngFor="let hospital of hospitales" [value]="hospital._id" >
                                {{ hospital.nombre }}
                            </option>
                        </select>
                    </div>
                   
                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10" align="rigth">
                        <i class="fa fa-save"></i>Guardar
                    </button>
                    <a routerLink="/medicos" class="btn btn-info waves-effect waves-light m-r-10">
                            Cancelar
                        </a>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-body">
            <h4 class="card-title">Hospital</h4>
            <img [src]="hospital.img | imagen:'hospitales'" class="rounded img-fluid">
        </div>
    </div>
    <div class="col-md-3" *ngIf="medico._id" >
        <div class="card card-body">
            <h4 class="card-title">fotografia</h4>
            <img (click)="cambiarFoto()" [src]="medico.img | imagen:'medicos'" class="rounded img-fluid">
        </div>
    </div>
</div>